<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have created a new post!</p>
    <p>
    Post details<br>
    --------------------------
    </p>
    <%debugger%>
    <p>User_id: <%= @post.user_id %></p>
    <p>Email: <%= @post.title %></p>
    <p>Address: <%= @post.body %></p>
    <p>
    Message:<br>
    ----------
    </p>
  </body>
</html>