<h4> <center>Accounts </h4><br>



<div class="container">
  <table class="table table-striped">
    <tr >
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.gender %></td>
        <td><%#= user.email %></td>
      </tr>
    <% end %>
  </table>

</div>