

<div class="d-flex justify-content-center">
	<h1>Welcome to Posts</h1>
</div>
		
	<% if user_signed_in? %>
		<%#if current_user.status.eql?("active")%>
			<div class="d-flex justify-content-end">
				<%= button_to "New Post", new_user_post_path(current_user), :class => "btn btn-primary", :method =>  :get  %>
			</div>
			<div class="d-flex justify-content-center">
		<%#else%>		
			<%=render partial: "posts/postshow"%>
			</div>
		<%#end%>

	<%end%> 
	


