 <br><br>

<div class="d-flex justify-content-center">
  <div> 
    <h1>Edit Post</h1>
        <%=render partial: "posts/form"%>
         <%= link_to 'BACK!', root_path, class:"btn btn-outline-dark"%>
        </div>
       
</div> 
 
