<br><br>

<div class="d-flex justify-content-center">
	<br>
	
       
		
	<br>

</div>	
<br>					
	<div class ="d-flex justify-content-center">
		<%= will_paginate %>
	</div>	

	<%if current_user.subscriptions.present?%>
		<%=render partial: "postshow"%>
	<%else%>	
		<%= link_to 'Subscribe', sub_path(plan_id: "plan_Kh7DG1DSLARXSw"), class:"btn btn-outline-success"%>             
	<%end%>
       	<%# if @post.author?(current_user)%>
	<div class="d-flex justify-content-center">
		<br>
		 <%= will_paginate %>
		 <br>
	</div>
	<%#end%>
