<button id="rzp" class="btn btn-outline-dark btn-lg">
  Own Checkout
</button>

<script>
  var options = {
    "key": "<%= ENV['KEY_ID'] %>",
    "subscription_id": "<%=  @subscription.id %>",
    "name": "Acme Corp.",
    "description": "Monthly Test Plan",
    "callback_url": "http://localhost:3000/success/",
    "prefill": {
      "name": "Gaurav Kumar",
      "email": "gaurav.kumar@example.com",
      "contact": "+919876543210"
    },
    "notes": {
      "note_key_1": "Tea. Earl Grey. Hot",
      "note_key_2": "Make it so."
    },
    "theme": {
      "color": "#F37254"
    }
  };
</script>
<script>
var rzp1 = new Razorpay(options);

document.getElementById('rzp').onclick = function(e) {
  rzp1.open();
  e.preventDefault();
}
</script>
